#passwordInput{
    .p-inputtext{
        width: 374px;
    }
}

// .p-multiselect{
//     height: 42px;
//     border-radius: 8px !important;

//     .p-multiselect-label{
//         height: 100%;
//         padding-top: 10px;
//     }
// }

#overviewSelect{
    .p-select{
        padding-top: 3px;
        padding-bottom: 3px;
    }
}