<div class="card px-4 my-3">
  <div class="flex align-items-center justify-content-between py-2 w-full mb-3">
    <div class="text-xl font-semibold">Meetings</div>
    <div>
      <p-button
        (onClick)="visible = !visible; addNewMeeting = true"
        label="Add Meeting"
      />
    </div>
  </div>
  <div class="full-calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>

<p-drawer
  #drawerRef
  [(visible)]="visible"
  [modal]="true"
  (onHide)="newApplicationFrom.reset()"
  [dismissible]="false"
  position="right"
  styleClass="w-26rem"
>
  <ng-template #headless>
    @if(viewDetail){
    <app-view-new-meeting
      [selectedRow]="selectedData"
      (closeDrawer)="resetDrawer()"
      (onFormsubmit)="resetDrawer(); getMeetungList()"
      (onEdit)="viewDetail = false; addNewMeeting = true"
    ></app-view-new-meeting>
    } @if (addNewMeeting) {
    <app-add-new-meeting
      [selectedRow]="selectedData"
      (closeDrawer)="resetDrawer()"
      (onFormsubmit)="resetDrawer(); getMeetungList()"
    ></app-add-new-meeting>
    }

    <!--  -->
  </ng-template>
</p-drawer>

<p-dialog
  [style]="{ width: '30%', borderRadius: '30px', overflow: 'hidden' }"
  [modal]="true"
  [(visible)]="showPopup"
  [focusOnShow]="false"
>
  <div class="flex flex-column px-2 gap-2">
    <div class="text-center flex flex-column gap-2 text-xl my-1">
      <div>
        {{ clickedEventObj?.title }}
      </div>
      <div>
        {{ clickedEventObj?.timeStart }}
      </div>
    </div>
    <div class="flex gap-5 my-3">
      <button
        (click)="showPopup = false"
        class="py-2 border-round-xl cancleButton flex justify-content-center border-none text-xl w-full"
      >
        Abbrechen
      </button>
      <button
        (click)="showPopup = false"
        class="py-2 border-round-xl confirmButton text-xl text-center flex justify-content-center border-none w-full"
      >
        <div>Confirm</div>
      </button>
    </div>
  </div>
</p-dialog>

<p-dialog
  [modal]="true"
  [dismissableMask]="false"
  maskStyleClass="backdrop-blur-sm"
  [style]="{ width: '35rem' }"
  [(visible)]="addNewMeetingDialog.isOpen"
>
  <ng-template #headless>
    <div
      class="flex flex-column align-items-center px-8 py-4 bg-surface-0 dark:bg-surface-900 rounded"
    >
      <div
        class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center"
        style="border-radius: 50%"
      >
        <i class="pi pi-question text-5xl" style="padding: 19px"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">Bist du sicher?</span>
      <span class="text-lg block mb-2 mt-2 text-center">{{
        addNewMeetingDialog.title
      }}</span>
      <div class="flex items-center gap-2 mt-5">
        <p-button
          label="Abbrechen"
          [outlined]="true"
          (onClick)="addNewMeetingDialog.isOpen = false"
          styleClass="w-10rem"
        ></p-button>

        @if (addNewMeetingDialog.type === 'allow') {
        <p-button
          label="Bestätigen"
          (onClick)="onAccept()"
          styleClass="w-10rem"
        ></p-button>
        }
      </div>
    </div>
  </ng-template>
</p-dialog>
