/* FullCalendar Custom Styling */
.full-calendar-container {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adjust FullCalendar elements */
.fc {
  border-radius: 12px;
  overflow: hidden;
}

.fc-toolbar {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
}

.fc-daygrid-day {
  background-color: white;
  border-radius: 6px;
}

.drawerBackBtn {
  position: absolute;
  left: -19px;
  top: 46%;
}

.draweBody {
  height: calc(100vh - 130px);
  overflow: auto;
}
//  button{
//    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);;
//  }

.confirmButton{
  margin-bottom: 2px;
  color:  #fff;;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.4s ease;
  background: #109F9D;
  &:hover {
      color: black;
      background:rgb(77, 243, 188);
  }
}

.cancleButton{
  margin-bottom: 2px;
  color:  #000000;;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid #109F9D;
  transition: 0.4s ease;
  &:hover {
      color: rgb(255, 255, 255);
      background:rgb(161, 156, 156);
  }
}