<div class="mx-4 mt-3">
  <div class="flex align-items-center justify-content-between py-2 w-full">
    <div class="text-xl font-semibold">Arbeitsgeber</div>
    <div>
      <p-button (onClick)="visible = !visible" label="Add  Arbeitsgeber" />
    </div>
  </div>

  <div class="mainCard">
    <div class="px-2 py-3 border-bottom-1" style="background-color: #f8fafc">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          (keyup)="handelSearch($event)"
          type="text"
          class="w-25rem"
          pInputText
          placeholder="Search"
        />
      </p-iconfield>
    </div>
    <p-table
      #dt2
      [globalFilterFields]="[
        'branch',
        'contact',
        'place',
        'cooperation_partner',
        'employer'
      ]"
      [value]="products"
      [paginator]="true"
      stripedRows
      [rows]="10"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[10, 50, 100]"
      [globalFilterFields]="[
        'branch',
        'contact',
        'place',
        'cooperation_partner',
        'employer'
      ]"
    >
      <ng-template #header>
        <tr>
          <th>Branche</th>
          <th>Kooperationspartner</th>
          <th>Arbeitsgeber</th>
          <th>Ort</th>
          <th>Ansprechpartner</th>
          <th>Bearbeiten</th>
        </tr>
      </ng-template>
      <ng-template #body let-product>
        @if(userListloader){
        <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
        </tr>
        }@else{
        <tr>
          <td>{{ product?.branch || "-" }}</td>
          <td>{{ product?.cooperation_partner || "-" }}</td>
          <td>{{ product?.employer || "-" }}</td>
          <td>{{ product?.place || "-" }}</td>
          <td>{{ product?.contact || "-" }}</td>
          <td>
            <p-button  icon="pi pi-pen-to-square" (onClick)="editDetail(product)"
                [text]="true" severity="help" />
            <p-button
              icon="pi pi-trash"
              (onClick)="deleteRole(product)"
              [text]="true"
              severity="danger"
            />
          </td>
        </tr>
        }
      </ng-template>
    </p-table>
  </div>
</div>

<p-drawer
  #drawerRef
  [(visible)]="visible"
  (onHide)="newApplicationFrom.reset()"
  [modal]="true"
  [dismissible]="false"
  position="right"
  styleClass="w-26rem"
>
  <ng-template #headless>
    <app-add-view-detail [selectedRow]="selectedRow"
      (closeDrawer)="closeCallback($event)"
      (onSubmitEvent)="getEmployeeDetails()"
    ></app-add-view-detail>
  </ng-template>
</p-drawer>

<p-dialog
  [modal]="true"
  [dismissableMask]="false"
  maskStyleClass="backdrop-blur-sm"
  [style]="{ width: '35rem' }"
  [(visible)]="showDialoag"
>
  <ng-template #headless>
    <div
      class="flex flex-column align-items-center px-8 py-4 bg-surface-0 dark:bg-surface-900 rounded"
    >
      <div
        class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center"
        style="border-radius: 50%"
      >
        <i class="pi pi-question text-5xl" style="padding: 19px"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">Bist du sicher?</span>
      <div class="flex items-center gap-2 mt-5">
        <p-button
          label="Löschen"
          (onClick)="onAccept()"
          [loading]="deleteLoader"
          styleClass="w-10rem"
        ></p-button>
        <p-button
          label="Abbrechen"
          [outlined]="true"
          [ngClass]="deleteLoader ? 'disableBtn' : ''"
          (onClick)="showDialoag = false; selectedRow = null"
          styleClass="w-10rem"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
