<div class="mx-4 mt-3">
  <div class="flex align-items-center justify-content-between py-2 w-full">
    <div class="text-xl font-semibold">Mitarbeiter</div>
    <div>
      <p-button (onClick)="visible = !visible" label="Add  Mitarbeiter" />
    </div>
  </div>

  <div class="mainCard">
    <div class="px-2 py-3 border-bottom-1" style="background-color: #F8FAFC;">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input (keyup)="handelSearch($event)" type="text" class="w-25rem" pInputText placeholder="Search" />
    </p-iconfield>
    </div>
    <p-table
    #dt2
    [globalFilterFields]="['first_name' , 'last_name' , 'user_name']"
      [value]="products"
      [paginator]="true"
      stripedRows
      [rows]="10"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[10, 50, 100]"
    >
      <ng-template #header>
        <tr>
          <th class="white-space-noWrap" pSortableColumn="first_name">Vorname <p-sortIcon field="first_name"/></th>
          <th class="white-space-noWrap" pSortableColumn="last_name">Nachname <p-sortIcon field="last_name"/></th>
          <th class="white-space-noWrap" pSortableColumn="user_name">Username <p-sortIcon field="user_name"/></th>
          <th class="white-space-noWrap" pSortableColumn="created_at">Created at <p-sortIcon field="created_at"/></th>
          <th >Bearbeiten</th>
        </tr>
      </ng-template>
      <ng-template #body let-product>

        @if(userListloader){
          <tr>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
        </tr>
        }@else{
          <tr>
            <td>{{ product?.first_name ?? "--" }}</td>
            <td>{{ product?.last_name ?? "--" }}</td>
            <td>{{ product?.user_name ?? "--" }}</td>
            <td>{{ product?.created_at | date :'MM-dd-yyyy' }}</td>
            <td>
              <p-button
                icon="pi pi-trash"
                (onClick)="deleteRole(product)"
                [text]="true"
                severity="danger"
              />
            </td>
          </tr>
        }
      

       
      </ng-template>
    </p-table>
  </div>
</div>

<p-drawer
  #drawerRef
  [(visible)]="visible"
  (onHide)="newApplicationFrom.reset()"
  [modal]="true"
  [dismissible]="false"
  position="right"
  styleClass="w-26rem"
>
  <ng-template #headless>
    <div class="flex flex-col h-full relative">
      <div class="flex items-center justify-between shrink-0 w-full">
        <p-button
          (onClick)="closeCallback($event)"
          icon="pi pi-angle-left"
          [rounded]="true"
          class="drawerBackBtn"
        />

        <div class="w-full">
          <div
            class="text-xl px-4 font-semibold py-3 border-bottom-1 headerBg borderClr"
          >
          Neu Mitarbeiter
          </div>

          <form
            [formGroup]="newApplicationFrom"
            class="pl-4 pr-3 mt-3 draweBody"
          >
            <div class="mt-3">
              <div class="grid pt-2">
                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      pInputText
                      class="w-full"
                      formControlName="first_name"
                    />
                    <label for="on_label"
                      >Vorname
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('first_name')?.touched &&
                          newApplicationFrom.get('first_name')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('first_name')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('first_name')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom
                          .get('first_name')
                          ?.hasError('required')
                      "
                      >Vorname Pflichtfeld</span
                    >
                  </span>
                </div>
                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      class="w-full"
                      pInputText
                      formControlName="last_name"
                    />
                    <label for="on_label"
                      >Nachname
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('last_name')?.touched &&
                          newApplicationFrom.get('last_name')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('last_name')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('last_name')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('last_name')?.hasError('required')
                      "
                      >Nachname Pflichtfeld</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      pInputText
                      class="w-full"
                      formControlName="user_name"
                    />
                    <label for="on_label"
                      >Username
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('user_name')?.touched &&
                          newApplicationFrom.get('user_name')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('user_name')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('user_name')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('user_name')?.hasError('required')
                      "
                      >Username Pflichtfeld</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="email"
                      class="w-full"
                      pInputText
                      formControlName="email"
                    />
                    <label for="on_label"
                      >Email
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('email')?.touched &&
                          newApplicationFrom.get('email')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('email')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('email')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('email')?.hasError('required')
                      "
                      >Email Pflichtfeld</span
                    >
                    <span
                      class="text-red-600"
                      *ngIf="newApplicationFrom.get('email')?.hasError('email')"
                      >Ungültige E-Mail Adresse</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <p-select
                      formControlName="role_code"
                      inputId="on_label"
                      [options]="roleList"
                      appendTo="body"
                      optionLabel="label"
                      (ngModelChange)="onRoleChange($event)"
                      styleClass="w-full"
                    />
                    <label for="on_label"
                      >Role
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('role_code')?.touched &&
                          newApplicationFrom.get('role_code')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('role_code')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('role_code')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('country')?.hasError('required')
                      "
                      >Role Pflichtfeld</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full">
                    <div class="relative w-full">
                      <input
                        [type]="isPasswordVisible ? 'text' : 'password'"
                        pInputText
                        class="w-full pr-10"
                        formControlName="password"
                      />
                      <span class="">
                        <span
                          class="pi cursor-pointer position text-lg"
                          [ngClass]="
                            isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'
                          "
                          (click)="togglePasswordVisibility()"
                        ></span>
                      </span>
                    </div>
                    <label for="on_label">
                      Login Password
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('password')?.touched &&
                          newApplicationFrom.get('password')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('password')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('password')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('password')?.hasError('required')
                      "
                      >Password Pflichtfeld</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      pInputText
                      class="w-full"
                      formControlName="company"
                    />
                    <label for="on_label"
                      >Arbeitgeber
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('company')?.touched &&
                          newApplicationFrom.get('company')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('company')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('company')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('company')?.hasError('required')
                      "
                      >Arbeitgeber Pflichtfeld</span
                    >
                  </span>
                </div>
              </div>
            </div>
          </form>

          <div
            class="flex justify-content-end align-items-center pt-3 gap-3 w-full px-4"
          >
            <p-button
              variant="outlined"
              severity="secondary"
              [ngClass]="{ 'disableBtn': formSubmit}"
              (onClick)="visible = !visible"
              label="Abbrechen"
            />
            <p-button [ngClass]="{ 'disableBtn': formSubmit}" (click)="onSubmit()" label="Speichern" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>

<p-dialog
  [modal]="true"
  [dismissableMask]="false"
  maskStyleClass="backdrop-blur-sm"
  [style]="{ width: '35rem' }"
  [(visible)]="showDialoag"
>
  <ng-template #headless>
    <div
      class="flex flex-column align-items-center px-8 py-4 bg-surface-0 dark:bg-surface-900 rounded"
    >
      <div
        class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center"
        style="border-radius: 50%"
      >
        <i class="pi pi-question text-5xl" style="padding: 19px"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">Bist du sicher?</span>
      <div class="flex items-center gap-2 mt-5">
        <p-button
          label="Löschen"
          (onClick)="onAccept()"
          [loading]="deleteLoader"
          styleClass="w-10rem"
        ></p-button>
        <p-button
          label="Abbrechen"
          [outlined]="true"
          [ngClass]="deleteLoader ? 'disableBtn' : ''"
          (onClick)="showDialoag = false; selectedRow = null"
          styleClass="w-10rem"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
