<div class="mx-4 mt-3">
  <div class="flex align-items-center justify-content-between py-2 w-full">
    <div class="text-xl font-semibold">Mitarbeiter</div>
    <div>
      <p-button (onClick)="visible = !visible" label="Add  Mitarbeiter" />
    </div>
  </div>

  <div class="mainCard">
    <p-table
      [value]="products"
      [paginator]="true"
      stripedRows
      [rows]="10"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[10, 50, 100]"
    >
      <ng-template #header>
        <tr>
          <th style="width: 25%">Vorname</th>
          <th style="width: 25%">Nachname</th>
          <th style="width: 25%">Username</th>
          <th style="width: 25%">Created at</th>
        </tr>
      </ng-template>
      <ng-template #body let-product>

        @if(userListloader){
          <tr>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
        </tr>
        }@else{
          <tr>
            <td>{{ product.first_name }}</td>
            <td>{{ product.last_name }}</td>
            <td>{{ product.user_name }}</td>
            <td>{{ product.created_at | date :'MM-dd-yyyy' }}</td>
          </tr>
        }
      

       
      </ng-template>
    </p-table>
  </div>
</div>

<p-drawer
  #drawerRef
  [(visible)]="visible"
  (onHide)="newApplicationFrom.reset()"
  [modal]="true"
  [dismissible]="false"
  position="right"
  styleClass="w-26rem"
>
  <ng-template #headless>
    <div class="flex flex-col h-full relative">
      <div class="flex items-center justify-between shrink-0 w-full">
        <p-button
          (onClick)="closeCallback($event)"
          icon="pi pi-angle-left"
          [rounded]="true"
          class="drawerBackBtn"
        />

        <div class="w-full">
          <div
            class="text-xl px-4 font-semibold py-3 border-bottom-1 headerBg borderClr"
          >
            New Mitarbeiter
          </div>

          <form
            [formGroup]="newApplicationFrom"
            class="pl-4 pr-3 mt-3 draweBody"
          >
            <div class="mt-3">
              <div class="grid pt-2">
                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      pInputText
                      class="w-full"
                      formControlName="first_name"
                    />
                    <label for="on_label"
                      >Vorname
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('first_name')?.touched &&
                          newApplicationFrom.get('first_name')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('first_name')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('first_name')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom
                          .get('first_name')
                          ?.hasError('required')
                      "
                      >Vorname is required</span
                    >
                  </span>
                </div>
                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      class="w-full"
                      pInputText
                      formControlName="last_name"
                    />
                    <label for="on_label"
                      >Nachname
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('last_name')?.touched &&
                          newApplicationFrom.get('last_name')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('last_name')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('last_name')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('last_name')?.hasError('required')
                      "
                      >Nachname is required</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      pInputText
                      class="w-full"
                      formControlName="user_name"
                    />
                    <label for="on_label"
                      >Username
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('user_name')?.touched &&
                          newApplicationFrom.get('user_name')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('user_name')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('user_name')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('user_name')?.hasError('required')
                      "
                      >Username is required</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="email"
                      class="w-full"
                      pInputText
                      formControlName="email"
                    />
                    <label for="on_label"
                      >Email
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('email')?.touched &&
                          newApplicationFrom.get('email')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('email')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('email')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('email')?.hasError('required')
                      "
                      >Email is required</span
                    >
                    <span
                      class="text-red-600"
                      *ngIf="newApplicationFrom.get('email')?.hasError('email')"
                      >Email Address Is Not Correct</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <p-select
                      formControlName="role_code"
                      inputId="on_label"
                      [options]="roleList"
                      appendTo="body"
                      optionLabel="label"
                      styleClass="w-full"
                    />
                    <label for="on_label"
                      >Role
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('role_code')?.touched &&
                          newApplicationFrom.get('role_code')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('role_code')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('role_code')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('country')?.hasError('required')
                      "
                      >Role is required</span
                    >
                  </span>
                </div>

                <div class="col-12 mb-2">
                  <p-floatlabel class="w-full">
                    <div class="relative w-full">
                      <input
                        [type]="isPasswordVisible ? 'text' : 'password'"
                        pInputText
                        class="w-full pr-10"
                        formControlName="password"
                      />
                      <span class="">
                        <span
                          class="pi cursor-pointer position text-lg"
                          [ngClass]="
                            isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'
                          "
                          (click)="togglePasswordVisibility()"
                        ></span>
                      </span>
                    </div>
                    <label for="on_label">
                      Login Password
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('password')?.touched &&
                          newApplicationFrom.get('password')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('password')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('password')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('password')?.hasError('required')
                      "
                      >Password is required</span
                    >
                  </span>
                </div>
              </div>
            </div>
          </form>

          <div
            class="flex justify-content-end align-items-center pt-3 gap-3 w-full px-4"
          >
            <p-button
              variant="outlined"
              severity="secondary"
              [ngClass]="{ 'disableBtn': formSubmit}"
              (onClick)="visible = !visible"
              label="Cancel"
            />
            <p-button [ngClass]="{ 'disableBtn': formSubmit}" (click)="onSubmit()" label="Submit" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>
