.mainCard {
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .drawerBackBtn {
    position: absolute;
    left: -19px;
    top: 46%;
  }
  

  .draweBody {
    height: calc(100vh - 130px);
    overflow: auto;
  }

  .position{
    position: absolute;
    right: 4px;
    top: 8px;
  }