.mainLayout{
    position: relative;
    margin: 20px;
    .sidebarContainer{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 80px;
        background-color: #F3F3F3;
        height: calc(100vh - 40px);
        border-radius: 16px;
        overflow: hidden;
    }

    .mainContainer{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100px;
        height: calc(100vh - 40px);
        overflow: auto;
        width: calc(100% - 100px);
    }
}