<aside class="sidebar">
  <header class="sidebar-header">
    <a href="#" class="header-logo">
      <img src="../../../assets/images/peraoLogoKopie.png" alt="PERSO2 Logo" />
    </a>
  </header>
  <nav class="sidebar-nav">
    <div class="nav-list primary-nav">
      @for (nav of sidebarNavItems; track $index) { @if(isAllowed(nav)){
      <div
        class="grid nav-items cursor-pointer"
        [routerLink]="nav.link"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="'activeNav'"
      >
        <div class="col-3 flex justify-content-end align-items-center">
          <i class="pi" [ngClass]="nav.icon"></i>
        </div>
        <div class="col-9">
          <span class="nav-label">{{ nav.title }}</span>
        </div>
      </div>
      } }
    </div>
  </nav>

  <footer class="sidebar-footer">
    <div class="flex justify-content-center py-2">
      <div class="grid nav-items cursor-pointer h-full pt-2" (click)="logout()">
        <div class="col-3 flex justify-content-end align-items-center">
          <i class="pi pi-sign-out"></i>
        </div>
        <div class="col-9">
          <span class="nav-label">Logout</span>
        </div>
      </div>
    </div>
  </footer>
</aside>
