.sidebar {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  

  .header {
    display: flex;
    justify-content: center;
    img{
      width: 60px;
      object-fit: cover;
    }
  }

  .body {
    .nav-item {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #e7e7e8;
      }
    }
  
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .profileAvatar{
        display: flex;
        align-items: center;
        justify-content: center;
       
        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
        }
    }
  }
}


.active {
  background-color: #9233df;
  color: #ffffff;
  &:hover {
    background-color: #9233df;
  }
}