<div class="sidebar flex py-3 flex-column align-items-center boxShadow1">
  <div class="header">
    <img src="../../../assets/images/logo.PNG" />
  </div>
  <div class="body my-5">
    <div
      pTooltip="Projections"
      tooltipPosition="right"
      [routerLink]="'/'"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-1 cursor-pointer text-base rounded-lg p-2 nav-item mb-2"
    >
      <div
        class="flex align-items-center justify-content-center text-2xl"
        [appSvgIcon]="'graph'"
      ></div>
    </div>

    <div
      [routerLink]="'/players'"
      [routerLinkActive]="['active']"
      pTooltip="Players"
      tooltipPosition="right"
      class="flex items-center gap-1 cursor-pointer text-base rounded-lg p-2 nav-item mb-2"
    >
      <div
        class="flex align-items-center justify-content-center text-2xl"
        [appSvgIcon]="'players'"
      ></div>
    </div>
  </div>
  <div class="footer">
    <p-divider />
    <div class="profileAvatar">
      <img src="../../../assets/images/main-avatar.png" />
    </div>
  </div>
</div>
