.mainCard {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  // overflow: hidden;
}

.drawerBackBtn {
  position: absolute;
  left: -19px;
  top: 46%;
}

.draweBody {
  height: calc(100vh - 130px);
  overflow: auto;
}

.view{
  cursor: pointer;
  color:green;
}

.edit{
  cursor: pointer;
  color:rgb(56, 56, 161);
}

.delete{
  cursor: pointer;
  color:red;
}