<div class="mx-4 mt-3">
  <div class="flex align-items-center justify-content-between py-2 w-full">
    <div class="text-xl font-semibold">Kandidaten</div>
    <div>
      <p-button (onClick)="visible = !visible" label="Add  Kandidaten" />
    </div>
  </div>

  <div class="mainCard">
    <div class="px-2 py-3 border-bottom-1" style="background-color: #F8FAFC;">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input (keyup)="handelSearch($event)" type="text" class="w-25rem" pInputText placeholder="Search" />
    </p-iconfield>
    </div>
    <p-table
      #dt2
      [value]="products"
      [paginator]="true"
      stripedRows
      [rows]="10"
      [globalFilterFields]="['age', 'first_name', 'last_name', 'applied_at' , 'email' , 'vacancieName']"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[10, 50, 100]"
    >
      <ng-template #header>
        <tr>
          <th style="width: 25%">Aktennummer</th>
          <th style="width: 25%">Vor-Nachname</th>
          <th style="width: 25%">Position/Status</th>
          <th style="width: 25%">Arbeitgeber</th>
          <th  style="width: 25%">Kontakt Info</th>
 
          <th >Bearbeiten</th>
        </tr>
      </ng-template>
      <ng-template #body let-product>
        @if(applicantsLoader){
        <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton   /></td>
        </tr>
        }@else{
        <tr>
          <td>{{ product?.age }}</td>
          <td>{{ product?.first_name + " " + product?.last_name }}</td>
          <td>{{ product?.vacancieName }}</td>
          <td>{{ product?.applied_at }}</td>
          <td>{{ product?.email }}</td>

          <td   >
            <div class="flex">
              <p-button
              icon="pi pi-eye"
              (onClick)="viewDetail(product)"
              [text]="true"
            />
            <p-button
            *ngIf="activeRole !== 'viewer'"
              icon="pi pi-pen-to-square"
              (onClick)="editDetail(product)"
              [text]="true"
              severity="help"
            />
            <p-button
            *ngIf="activeRole !== 'viewer'"
              icon="pi pi-trash"
              (onClick)="onDelete(product)"
              [text]="true"
              severity="danger"
            />
              <!-- <div class="pi pi-eye view" (click)="viewDetail(product)"></div>
              <div class="pi pi-user-edit edit" (click)="editDetail(product)"></div>
              <div class="pi pi-trash delete" (click)="onDelete(product)"></div> -->
            </div>
          </td>
        </tr>
        }
      </ng-template>
    </p-table>
  </div>
</div>

<p-drawer
  #drawerRef
  (onHide)="
    newApplicationFrom.reset();
    viewDetails = false;
    selectedRow = null;
    vacancieName = '';
    isEdit = false;
  "
  [(visible)]="visible"
  [modal]="true"
  [dismissible]="false"
  position="right"
  [styleClass]="viewDetails ? 'w-26rem' : 'w-6'"
>
  <ng-template #headless>
    <div class="flex flex-col h-full relative">
      <div class="flex items-center justify-between shrink-0 w-full">
        <p-button
          (onClick)="closeCallback($event)"
          icon="pi pi-angle-left"
          [rounded]="true"
          class="drawerBackBtn"
        />
        @if (viewDetails) {
        <app-view-detail
          class="w-full"
          [Vacances]="vacancieName"
          [selectedRow]="selectedRow"
        ></app-view-detail>
        }@else {
        <div class="w-full">
          <div
            class="text-xl px-4 font-semibold py-3 border-bottom-1 headerBg borderClr"
          >
            Kandidat hinzufügen
          </div>

          <form
            [formGroup]="newApplicationFrom"
            class="pl-4 pr-3 mt-3 draweBody"
          >
            <p-fieldset legend="Basic Information">
              <div class="grid pt-2">
                <div class="col-6">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <p-select
                      formControlName="enrollment"
                      inputId="on_label"
                      [options]="vacancies"
                      appendTo="body"
                      [loading]="getApiLoader"
                      optionLabel="role"
                      styleClass="w-full"
                    />
                    <label for="on_label"
                      >Position
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('enrollment')?.touched &&
                          newApplicationFrom.get('enrollment')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('enrollment')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('enrollment')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom
                          .get('enrollment')
                          ?.hasError('required')
                      "
                      >Position date Pflichtfeld</span
                    >
                  </span>
                </div>

                <div class="col-6">
                  <p-floatlabel class="w-full" variant="on">
                    <input
                      type="text"
                      pInputText
                      class="w-full"
                      formControlName="appledDate"
                    />
                    <label for="on_label"
                      >Arbeitgeber
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('appledDate')?.touched &&
                          newApplicationFrom.get('appledDate')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('appledDate')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('appledDate')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom
                          .get('appledDate')
                          ?.hasError('required')
                      "
                      >Arbeitgeber Pflichtfeld</span
                    >
                  </span>
                </div>
              </div>
            </p-fieldset>

            <div class="mt-3">
              <p-fieldset legend="Personal Information">
                <div class="grid pt-2">
                  <div class="col-6">
                    <p-floatlabel class="w-full md:w-56" variant="on">
                      <input
                        type="text"
                        pInputText
                        class="w-full"
                        formControlName="firstName"
                      />
                      <label for="on_label"
                        >Vorname
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('firstName')?.touched &&
                            newApplicationFrom.get('firstName')?.invalid
                          "
                          >*</span
                        >
                      </label>
                    </p-floatlabel>
                    <span
                      class="text-sm"
                      *ngIf="
                        (newApplicationFrom.get('firstName')?.touched ||
                          formSubmit) &&
                        newApplicationFrom.get('firstName')?.errors
                      "
                    >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom
                            .get('firstName')
                            ?.hasError('required')
                        "
                        >Vorname Pflichtfeld</span
                      >
                    </span>
                  </div>
                  <div class="col-6">
                    <p-floatlabel class="w-full md:w-56" variant="on">
                      <input
                        type="text"
                        class="w-full"
                        pInputText
                        formControlName="lastName"
                      />
                      <label for="on_label"
                        >Nachname
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('lastName')?.touched &&
                            newApplicationFrom.get('lastName')?.invalid
                          "
                          >*</span
                        >
                      </label>
                    </p-floatlabel>
                    <span
                      class="text-sm"
                      *ngIf="
                        (newApplicationFrom.get('lastName')?.touched ||
                          formSubmit) &&
                        newApplicationFrom.get('lastName')?.errors
                      "
                    >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom
                            .get('lastName')
                            ?.hasError('required')
                        "
                        >Nachname Pflichtfeld</span
                      >
                    </span>
                  </div>

                  <div class="col-6">
                    <p-floatlabel class="w-full md:w-56" variant="on">
                      <input
                        type="text"
                        pInputText
                        class="w-full"
                        formControlName="phone"
                      />
                      <label for="on_label"
                        >Rufnummer
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('phone')?.touched &&
                            newApplicationFrom.get('phone')?.invalid
                          "
                          >*</span
                        >
                      </label>
                      <span
                        class="text-sm"
                        *ngIf="
                          (newApplicationFrom.get('phone')?.touched ||
                            formSubmit) &&
                          newApplicationFrom.get('phone')?.errors
                        "
                      >
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom
                              .get('phone')
                              ?.hasError('required')
                          "
                          >Rufnummer Pflichtfeld</span
                        >
                      </span>
                    </p-floatlabel>
                  </div>
                  <div class="col-6">
                    <p-floatlabel class="w-full md:w-56" variant="on">
                      <input
                        type="text"
                        class="w-full"
                        pInputText
                        formControlName="age"
                      />
                      <label for="on_label"
                        >Aktennummer
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('age')?.touched &&
                            newApplicationFrom.get('age')?.invalid
                          "
                          >*</span
                        >
                      </label>
                    </p-floatlabel>
                    <span
                      class="text-sm"
                      *ngIf="
                        (newApplicationFrom.get('age')?.touched ||
                          formSubmit) &&
                        newApplicationFrom.get('age')?.errors
                      "
                    >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('age')?.hasError('required')
                        "
                        >Aktennummer Pflichtfeld</span
                      >
                    </span>
                  </div>

                  <div class="col-6">
                    <p-floatlabel class="w-full md:w-56" variant="on">
                      <input
                        type="email"
                        class="w-full"
                        pInputText
                        formControlName="email"
                      />
                      <label for="on_label"
                        >Email
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('email')?.touched &&
                            newApplicationFrom.get('email')?.invalid
                          "
                          >*</span
                        >
                      </label>
                    </p-floatlabel>
                    <span
                      class="text-sm"
                      *ngIf="
                        (newApplicationFrom.get('email')?.touched ||
                          formSubmit) &&
                        newApplicationFrom.get('email')?.errors
                      "
                    >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('email')?.hasError('required')
                        "
                        >Email Address Pflichtfeld</span
                      >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('email')?.hasError('email')
                        "
                        >Ungültige E-Mail Adresse</span
                      >
                    </span>
                  </div>
                  <div class="col-6 pb-3">
                    <p-floatlabel class="w-full md:w-56" variant="on">
                      <p-select
                        formControlName="country"
                        inputId="on_label"
                        [options]="countryList"
                        optionLabel="name"
                        appendTo="body"
                        styleClass="w-full"
                        [filter]="true"
                        filterBy="name"
                      />
                      <label for="on_label"
                        >Nationalität
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('country')?.touched &&
                            newApplicationFrom.get('country')?.invalid
                          "
                          >*</span
                        >
                      </label>
                    </p-floatlabel>
                    <span
                      class="text-sm"
                      *ngIf="
                        (newApplicationFrom.get('country')?.touched ||
                          formSubmit) &&
                        newApplicationFrom.get('country')?.errors
                      "
                    >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom
                            .get('country')
                            ?.hasError('required')
                        "
                        >Nationalität Pflichtfeld</span
                      >
                    </span>
                  </div>

                  <div class="col-6">
                    <p-floatlabel class="w-full md:w-56" variant="on">
                      <p-select
                        formControlName="maritalStatus"
                        inputId="on_label"
                        [options]="maritalStatus"
                        optionLabel="name"
                        appendTo="body"
                        styleClass="w-full"
                      />
                      <label for="on_label"
                        >Familienstand
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('maritalStatus')?.touched &&
                            newApplicationFrom.get('maritalStatus')?.invalid
                          "
                          >*</span
                        >
                      </label>
                    </p-floatlabel>
                    <span
                      class="text-sm"
                      *ngIf="
                        (newApplicationFrom.get('maritalStatus')?.touched ||
                          formSubmit) &&
                        newApplicationFrom.get('maritalStatus')?.errors
                      "
                    >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom
                            .get('maritalStatus')
                            ?.hasError('required')
                        "
                        >Familienstand Pflichtfeld</span
                      >
                    </span>
                  </div>
                  <div class="col-6">
                    <p-floatlabel class="w-full" variant="on">
                      <p-datepicker
                        styleClass="w-full"
                        appendTo="body"
                        formControlName="dob"
                      />
                      <label for="on_label"
                        >Geburtsdatum
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('dob')?.touched &&
                            newApplicationFrom.get('dob')?.invalid
                          "
                          >*</span
                        >
                      </label>
                    </p-floatlabel>
                    <span
                      class="text-sm"
                      *ngIf="
                        (newApplicationFrom.get('dob')?.touched ||
                          formSubmit) &&
                        newApplicationFrom.get('dob')?.errors
                      "
                    >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('dob')?.hasError('required')
                        "
                        >Geburtsdatum Pflichtfeld</span
                      >
                    </span>
                  </div>

                  <div class="col-12">
                    <p-floatlabel class="w-full md:w-56" variant="on">
                      <input
                        type="text"
                        class="w-full"
                        pInputText
                        formControlName="address"
                      />
                      <label for="on_label"
                        >Addresse
                        <span
                          class="text-red-600"
                          *ngIf="
                            newApplicationFrom.get('address')?.touched &&
                            newApplicationFrom.get('address')?.invalid
                          "
                          >*</span
                        >
                      </label>
                    </p-floatlabel>
                    <span
                      class="text-sm"
                      *ngIf="
                        (newApplicationFrom.get('address')?.touched ||
                          formSubmit) &&
                        newApplicationFrom.get('address')?.errors
                      "
                    >
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom
                            .get('address')
                            ?.hasError('required')
                        "
                        >Addresse Pflichtfeld</span
                      >
                    </span>
                  </div>

                  <div class="col-12 pb-3">
                    <p-floatlabel class="w-full" variant="on">
                      <textarea
                        rows="5"
                        cols="30"
                        class="w-full"
                        formControlName="description"
                        pTextarea
                      ></textarea>
                      <label for="on_label">Beschreibung</label>
                    </p-floatlabel>
                  </div>
                </div>
              </p-fieldset>
            </div>
          </form>

          <div
            class="flex justify-content-end align-items-center pt-3 gap-3 w-full px-4"
          >
            <p-button
              variant="outlined"
              severity="secondary"
              [ngClass]="{ disableBtn: formSubmit }"
              (onClick)="closeCallback($event)"
              label="Abbrechen"
            />
            <p-button
              [loading]="formSubmit"
              (click)="onSubmit()"
              label="Speichern"
            />
          </div>
        </div>
        }
      </div>
    </div>
  </ng-template>
</p-drawer>

<p-dialog
  [modal]="true"
  [dismissableMask]="false"
  maskStyleClass="backdrop-blur-sm"
  [style]="{ width: '35rem' }"
  [(visible)]="showDialoag"
>
  <ng-template #headless>
    <div
      class="flex flex-column align-items-center px-8 py-4 bg-surface-0 dark:bg-surface-900 rounded"
    >
      <div
        class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center"
        style="border-radius: 50%"
      >
        <i class="pi pi-question text-5xl" style="padding: 19px"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">Bist du sicher?</span>
      <div class="flex items-center gap-2 mt-5">
        <p-button
          label="Löschen"
          (onClick)="onAccept()"
          [loading]="deleteLoader"
          styleClass="w-10rem"
        ></p-button>
        <p-button
          label="Abbrechen"
          [outlined]="true"
          [ngClass]="deleteLoader ? 'disableBtn' : ''"
          (onClick)="showDialoag = false; selectedRow = null"
          styleClass="w-10rem"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
