
.drawerBackBtn {
    position: absolute;
    left: -19px;
    top: 46%;
  }
  
  .draweBody {
    height: calc(100vh - 130px);
    overflow: auto;
  }
  
  .position {
    position: absolute;
    right: 4px;
    top: 8px;
  }