<div class="mx-4 mt-3">
  <div class="flex align-items-center justify-content-between py-2 w-full">
    <div class="text-xl font-semibold">Vacancies</div>
    <div>
      <p-button (onClick)="visible = !visible" label="Add  Vacancy" />
    </div>
  </div>

  <div class="mainCard">
    <p-table
      [value]="products"
      [paginator]="true"
      stripedRows
      [rows]="10"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[10, 50, 100]"
    >
      <ng-template #header>
        <tr>
          <th style="width: 25%">Role</th>
          <th style="width: 25%">Category</th>
          <th style="width: 25%">Location</th>
          <th style="width: 25%">Description</th>
        </tr>
      </ng-template>
      <ng-template #body let-product>
        @if(getApiLoader){
        <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
        </tr>
        }@else{
        <tr>
          <td>{{ product.role }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.location }}</td>
          <td>{{ product.description }}</td>
        </tr>
        }
      </ng-template>
    </p-table>
  </div>
</div>

<p-drawer
  #drawerRef
  [(visible)]="visible"
  (onHide)="newApplicationFrom.reset()"
  [modal]="true"
  [dismissible]="false"
  position="right"
  styleClass="w-26rem"
>
  <ng-template #headless>
    <div class="flex flex-col h-full relative">
      <div class="flex items-center justify-between shrink-0 w-full">
        <p-button
          (onClick)="closeCallback($event)"
          icon="pi pi-angle-left"
          [rounded]="true"
          class="drawerBackBtn"
        />

        <div class="w-full">
          <div
            class="text-xl px-4 font-semibold py-3 border-bottom-1 headerBg borderClr"
          >
            New Vacancy
          </div>

          <form [formGroup]="newApplicationFrom" class="pl-4 pr-3 mt-3 draweBody">
            <div class="mt-3">
              <div class="grid pt-2">
                <div class="col-12 pb-3">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      pInputText
                      class="w-full"
                      formControlName="role"
                    />
                    <label for="on_label"
                      >Role
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('role')?.touched &&
                          newApplicationFrom.get('role')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('role')?.touched || formSubmit) &&
                      newApplicationFrom.get('role')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('role')?.hasError('required')
                      "
                      >Roll is required</span
                    >
                  </span>
                </div>
                <div class="col-12 pb-3">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <input
                      type="text"
                      class="w-full"
                      pInputText
                      formControlName="company"
                    />
                    <label for="on_label"
                      >Company
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('company')?.touched &&
                          newApplicationFrom.get('company')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('company')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('company')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('company')?.hasError('required')
                      "
                      >Company is required</span
                    >
                  </span>
                </div>

                <div class="col-12 pb-3">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <p-select
                      formControlName="country"
                      inputId="on_label"
                      [options]="flags"
                      appendTo="body"
                      optionLabel="name"
                      styleClass="w-full"
                      [filter]="true"
                      filterBy="name"
                    />
                    <label for="on_label"
                      >Country
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('country')?.touched &&
                          newApplicationFrom.get('country')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('country')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('country')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom.get('country')?.hasError('required')
                      "
                      >Country is required</span
                    >
                  </span>
                </div>

                <div class="col-12 pb-3">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <textarea
                      rows="5"
                      cols="30"
                      class="w-full"
                      formControlName="description"
                      pTextarea
                    ></textarea>

                    <label for="on_label"
                      >Description
                      <span
                        class="text-red-600"
                        *ngIf="
                          newApplicationFrom.get('description')?.touched &&
                          newApplicationFrom.get('description')?.invalid
                        "
                        >*</span
                      >
                    </label>
                  </p-floatlabel>
                  <span
                    class="text-sm"
                    *ngIf="
                      (newApplicationFrom.get('description')?.touched ||
                        formSubmit) &&
                      newApplicationFrom.get('description')?.errors
                    "
                  >
                    <span
                      class="text-red-600"
                      *ngIf="
                        newApplicationFrom
                          .get('description')
                          ?.hasError('required')
                      "
                      >Description is required</span
                    >
                  </span>
                </div>
              </div>
            </div>
          </form>
          <div
            class="flex justify-content-end align-items-center pt-3 gap-3 w-full px-4"
          >
            <p-button
              variant="outlined"
              severity="secondary"
              [ngClass]="{ 'disableBtn': formSubmit }"
              (onClick)="visible = !visible"
              label="Cancel"
            />
            <p-button
              (click)="onSubmit()"
              [loading]="formSubmit"
              label="Submit"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>
